.picture {
	position: absolute;		
		width:100px; /* The javascript will update these image sizes*/
		height:100px;
}

#cat {
	background-image: url("pictures/cat.jpg");
}

#flowers {
	background-image: url("pictures/flowers.jpg");
}

#colors {
	background-image: url("pictures/colors.jpg");
}

#hedgehog {
	background-image: url("pictures/hedgehog.jpg");
}

#cheeseburger {
	background-image: url("pictures/cheeseburger.jpg");
}


